* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  background-image: url("../ft/fundo.jpg");
  font-family: Arial;
  background-size: aut 100vh;
  height: 100vh;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* se a tela tiver pelo menos 600px vai carregar estes estilos */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* se a tela tiver pelo menos 1200px vai carregar estes estilos */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.menu {
  background-color: lightblue;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
display: block;
padding: 10px 20px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline; 
}

.site-subtitle,
.site-title {
  text-align: center;
  color: white;
  box-shadow: 10px 10px rgb(16, 32, 39);
  border: 4px ridge rgb(45, 34, 202);
}

.site-title {
  font-size: 4em;
  font-family: 'Yellowtail', cursive;
}

.site-subtitle {
 font-style: italic;
 font-family: 'Cabin Sketch', cursive;
 font-size: 30px;
}

.portifolio h2 {
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-size: 50px;
  margin-bottom: 1em;
}

.portifolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portifolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portifolio .grid {
    grid-template-columns: repeat(3,240px);
    justify-content: center;
    height: calc(100vh - 8em - 48px);
    align-content:unset ;
  }
}  

.portifolio figure {
  text-align: center;
}

.img-portfolio {
  height: 200px;
  width: 240px;
  object-fit: cover;
  object-position: center;
}

.portifolio {
  padding: 2em;
  font-size: 25px;
  color: white;
  height: 100vh;
}
